{% extends 'main/base.html' %}
{% block title %}Информация про {{ movie_detail.title }}{% endblock %}
    {% block paragr %}
            <h1>{{ movie_detail.title }}</h1>
            <p>{{ movie_detail.description }}</p>
        <p>Режиссер фильма:<mark>{{ movie_detail.director }}</mark></p>
            <div style="border: darkgray">
                {% for i in review %}
                    <hr><p style="contain: size">{{ i.text }}</p><br>
                    {% endfor %}
            </div>
        <hr>
    {% endblock %}