
{% extends 'main/base.html' %}

{% block title %}
Страница 2
{% endblock %}

{% block paragr %}
    <h1>Сегодня (12.06.2022)</h1>
    <p>Москвичам спрогнозировали погоду на День России
Об этом в воскресенье, 12 июня, РИА Новости сообщил ведущий специалист центра погоды «Фобос» Евгений Тишковец.12 июня в Ульяновской области ожидаются +24 градуса и северный ветер
В воскресенье, 12 июня, в Ульяновской области продолжит властвовать западный антициклон.
Mosaica.ru
Синоптики прогнозируют преимущественно сухую погоду с низкой влажностью и слабым ветром.
Mosaica.ru
Температура ночью +7°С, +12°С, днем +19°С, +24°С.
Misanec.ru
Ветер будет дуть северный со скоростью 6-11 метров в секунду.
Mosaica.ru</p>
{% endblock %}
